#User CSS плагин для стилизации https://chrome.google.com/webstore/detail/user-css/okpjlejfhacmgjkmknjhadmkdbcldfcb
#Tampermonkey для скриптов https://chrome.google.com/webstore/detail/tampermonkey/dhdgffkkebhmkfjojejmpbldmpobfkfo
#Anti-Adblock Killer для антирекламы https://reek.github.io/anti-adblock-killer/#userscript

/* краны */

fautsy.com
claimbitco.com
bitcoinky.com
medot.online/style.php
starbits.io
i-bits.io
gobits.io
claimbits.io
claimfreecoins.io/free-bitcoin/
silverfaucet.co
queenfaucet.website

/* фильтры для адблок плюс */

fautsy.com/libs/check.js
fautsy.com/js/site.js
starbits.io/libs/check.js
mycryptohub.xyz/*/libs/check.js
crypto-fun.cf/*/libs/check.js
||bitcoincasinomed.com/system/attachment_medium_contents/attachments/000/001/677/original/en-300x250.gif?1557858109
i-bits.io/libs/check.js
gobits.io/libs/check.js
gobits.io/js/site.js
claimbits.io/js/site.js
claimbits.io/libs/check.js
claimbitco.com/libs/check.js
*/blockadblock.js
onebitco.com/faucet/libs/check.js

/* фильтры Adblock для кранов expresscrypto */

topbtc.club/btc/libs/check.js





/* стили */

/* bitcoinky.com */

body{margin:-60px auto;width:666px;}
#faucet > div{min-width:600px}
#body > div.container-fluid.no-padding.no-margin > div.container.mt-4{display:none}
#footer > div:nth-child(2) > div{display:none}
#body > div:nth-child(17){display:none}

/* claimbitco.com */

body > nav{display:none}
body > div.container-fluid > div:nth-child(2) > div.col-xs-12.col-md-6.col-md-push-3.bg-black.text-black > div:nth-child(1) > div > img{display:none}
body > div.container-fluid > div:nth-child(2) > div.col-xs-12.col-md-6.col-md-push-3.bg-black.text-black > blockquote{display:none}
body > div.container-fluid > div:nth-child(3) > div:nth-child(2){display:none}
body > div.footer.text-center.col-xs-12.bg-black.text-black{display:none}

/* fautsy.com */

html{position:absolute;top:-200px}
body > center:nth-child(3) > div > div:nth-child(2) > div.col-xs-6.col-md-3.col-md-pull-6 > center > div{display:none}
body > center:nth-child(3) > div > div:nth-child(2) > div.col-xs-12.col-md-6.col-md-push-3 > font{display:none}
body > center:nth-child(3) > div > div:nth-child(2) > div.col-xs-12.col-md-6.col-md-push-3 > center:nth-child(16) > input{display:none}
body > center:nth-child(3) > div > div:nth-child(2) > div.col-xs-12.col-md-6.col-md-push-3 > center:nth-child(23) > div{display:none}
body > center:nth-child(4) > div:nth-child(3){display:none}
body > center:nth-child(3) > div > div:nth-child(2) > div.col-xs-12.col-md-6.col-md-push-3 > center:nth-child(18) > div{display:none}
body > center:nth-child(3) > div > div:nth-child(2) > div.col-xs-12.col-md-6.col-md-push-3 > center:nth-child(11) > input{display:none}
body > center:nth-child(3) > div > div:nth-child(2) > div.col-xs-12.col-md-6.col-md-push-3 > center:nth-child(17) > input{display:none}
body > center:nth-child(3) > div > div:nth-child(2) > div.col-xs-12.col-md-6.col-md-push-3 > center:nth-child(1) > p{display:none}
body{background:#000}
#myModal > div{position:relative;top:290px}

/* starbits.io */

html{background:#000;}
body{margin:-205px auto;background:#000;}
body > table:nth-child(8){display:none}
body > table:nth-child(9){display:none}
body > table:nth-child(10){display:none}
body > table:nth-child(11){display:none}
#sticky-banner-R6C1MIP3KS8CB{display:none}

/* faucethub.io */

html{background:#FFF;margin-bottom:-86px}
body{position:relative;top:-86px}
.header-upper {display: none!important}
#content > div > div > div.col-md-9.col-md-push-3 > div > div:nth-child(2) > div:nth-child(1) > div > div > div > div {display: none!important}
#content-below {display: none!important}
/* before footer */
#content > div > div > div.col-md-9.col-md-push-3 > div > div:nth-child(2) > div:nth-child(6) > div > small {display: none!important}
/**/
#footer {display: none!important}
#content > div > div > div.col-md-3.col-md-pull-9 > div.panel.panel-default.panel-chat-ad.margin-top-small {display: none!important}
/* Menu → Stats */
#myTab > li:nth-child(2) > a {display: none!important}
#myTab > li:nth-child(6) > a {display: none!important}
/* Chat → Useless languages */
#content > div > div > div.col-md-3.col-md-pull-9 > div:nth-child(1) > ul > li:nth-child(3) > a > span.flag-icon.flag-icon-es {display: none!important}
#content > div > div > div.col-md-3.col-md-pull-9 > div:nth-child(1) > ul > li:nth-child(4) > a > span.flag-icon.flag-icon-sa {display: none!important}
#content > div > div > div.col-md-3.col-md-pull-9 > div:nth-child(1) > ul > li:nth-child(5) > a > span.flag-icon.flag-icon-pt {display: none!important}
#content > div > div > div.col-md-3.col-md-pull-9 > div:nth-child(1) > ul > li:nth-child(6) > a > span.flag-icon.flag-icon-ph {display: none!important}
#content > div > div > div.col-md-3.col-md-pull-9 > div:nth-child(1) > ul > li:nth-child(7) > a > span.flag-icon.flag-icon-in {display: none!important}
#content > div > div > div.col-md-3.col-md-pull-9 > div:nth-child(1) > ul > li:nth-child(8) > a > span.flag-icon.flag-icon-id {display: none!important}
#content > div > div > div.col-md-3.col-md-pull-9 > div:nth-child(1) > ul > li:nth-child(9) > a {display: none!important}
#content > div > div > div.col-md-3.col-md-pull-9 > div:nth-child(1) > ul > li:nth-child(11) > a {display: none!important}
/* Wallet Balances */
/*#content > div > div > div.col-md-9.col-md-push-3 > div > div:nth-child(2) > div:nth-child(3) > div > div:nth-child(2) > div:nth-child(3) > div{display:none}
#content > div > div > div.col-md-9.col-md-push-3 > div > div:nth-child(2) > div:nth-child(3) > div > div:nth-child(2) > div:nth-child(4) > div{display:none}
#content > div > div > div.col-md-9.col-md-push-3 > div > div:nth-child(2) > div:nth-child(3) > div > div:nth-child(2) > div:nth-child(10) > div{display:none}
#content > div > div > div.col-md-9.col-md-push-3 > div > div:nth-child(2) > div:nth-child(3) > div > div:nth-child(2) > div:nth-child(11) > div{display:none}
#content > div > div > div.col-md-9.col-md-push-3 > div > div:nth-child(2) > div:nth-child(3) > div > div:nth-child(2) > div:nth-child(12) > div{display:none}
#content > div > div > div.col-md-9.col-md-push-3 > div > div:nth-child(2) > div:nth-child(3) > div > div:nth-child(2) > div:nth-child(14) > div{display:none}
#content > div > div > div.col-md-9.col-md-push-3 > div > div:nth-child(2) > div:nth-child(3) > div > div:nth-child(2) > div:nth-child(15) > div{display:none}
#content > div > div > div.col-md-9.col-md-push-3 > div > div:nth-child(2) > div:nth-child(3) > div > div:nth-child(2) > div:nth-child(16) > div{display:none}
/* под чатом */
#content > div > div > div.col-md-3.col-md-pull-9 > div.panel.panel-default.panel-chat-ad.margin-top-small > div.panel-heading {display: none!important}
#content > div > div > div.col-md-3.col-md-pull-9 > div.panel.panel-default.panel-chat-ad.margin-top-small > div.panel-body {display: none!important}
#content > div > div > div.col-md-3.col-md-pull-9 > div.panel.panel-default.panel-chat-ad.margin-top-small > div.panel-footer {display: none!important}
/* Hey */
#content > div > div > div.col-md-9.col-md-push-3 > div > div:nth-child(2) > div:nth-child(3) > div > div:nth-child(3) > div > div {display: none!important}
/* Today's Stats */
#content > div > div > div.col-md-9.col-md-push-3 > div > div:nth-child(2) > div:nth-child(5) {display: none!important}
/* Today's Payouts */
#content > div > div > div.col-md-9.col-md-push-3 > div > div:nth-child(2) > div:nth-child(6) > div > div.title-divider.margin-top-medium > h4 {display: none!important}
/* Forum */
#navigation > div > div.header > div > div > div.navbar-collapse.collapse > ul > li:nth-child(1) > a {position: relative!important; top: 60px!important}
/* Exchange */
#navigation > div > div.header > div > div > div.navbar-collapse.collapse > ul > li:nth-child(2) > a {position: relative!important; top: 60px!important}
/* ads */
iframe {display: none!important}
#content > div > div > div.col-md-9.col-md-push-3 > div > div:nth-child(1) > div > div.ad_position {display: none!important}
#content > div > div > div.col-md-3.col-md-pull-9 > div.ad_position {display: none!important}
/* chat size */
#content > div > div > div.col-md-3.col-md-pull-9 > div.panel.panel-default.chat-panel-wrap {}
#content > div > div > div.col-md-3.col-md-pull-9 > div.panel.panel-default.chat-panel-wrap > div.chat.panel-body.tab-content {}
#content > div > div > div.col-md-3.col-md-pull-9 > div.panel.panel-default.chat-panel-wrap > div.panel-footer.chat-footer {}
#content > div {width: 100%!important}
#content > div > div > div.col-md-3.col-md-pull-9 {padding-left: 0!important; padding-right: 0!important}
#content > div > div > div.col-md-9.col-md-push-3 {padding-right: 5px!important; padding-left: 5px!important}
.panel-body {margin: 0!important; padding: 5px!important}

/* queenfaucet.website (скрипт) */

// ==UserScript==
// @name         queenfaucet.website
// @namespace    http://tampermonkey.net/
// @version      0.1
// @description  try to take over the world!
// @author       You
// @match        https://queenfaucet.website/*
// @grant        none
// @require http://code.jquery.com/jquery-latest.min.js
// ==/UserScript==

(function() {
    'use strict';

    //списко кошельков (переменные настроек)
    var btc='13uN8ZRqKNmteoZR3acSr1faoT4kDCeg6o';
    var eth='0x86ae7b426dda2b8dd217a209b056d6f0d3bfd593';
    var ltc='LPsLbahGygEWrchtSYN9t34xzk2JByf7vS';
    var doge='DQn1DJ1mLZGJZQQbpz5Whb2DfPswruT8RW';
    var bch='12Z2h9QWQvboQRsxMX3yB7B55je1GnY73C';
    var zec='t1eP1hdsyQemVkEArZR5hKugH5pqyJGqEif';
    var dash='XcMGGBDFUKNZY7DcxKu4pV1aP2fPYoMwK1';
    var ppc='PCXMK3aBQbMW2z6UHUcgZpZwY5XWmGRXWN';
    var pot='PUWFkfgALdUFcKjEiSUyPNp6QNXDJH5Gn2';

    //заполнять поле кошельком (в зависимости от страницы)
    var link=window.location.pathname;
    if(link=='/btc/'){$('input[name="address"]').val(btc);}
    if(link=='/eth/'){$('input[name="address"]').val(eth);}
    if(link=='/ltc/'){$('input[name="address"]').val(ltc);}
    if(link=='/dux/'){$('input[name="address"]').val(doge);}
    if(link=='/bch/'){$('input[name="address"]').val(bch);}
    if(link=='/zec/'){$('input[name="address"]').val(zec);}
    if(link=='/dash/'){$('input[name="address"]').val(dash);}
    if(link=='/ppc/'){$('input[name="address"]').val(ppc);}
    if(link=='/pot/'){$('input[name="address"]').val(pot);}


    //кликать по кнопке log in
    $('#faucet > div.container-fluid.no-padding.no-margin > form > input.btn.btn-block.btn-primary.text-uppercase').click()

})();
